
{% set show_link = show_link ? show_link : (link_url ? 1 : 0)  %}
{% set bg_color = bg_color ? bg_color : "ts-bg-white" %}
{% if variant == 'reversed' %}
  {% set bg_color = "ts-bg-grey-800 py-2xl" %}
{% endif %}
{% if variant == 'three-up' %}
  {% set block_class = "sample--3-up" %}
  {% set grid_class = "ts-grid-col-3" %}
{% elseif variant == 'four-up' %}
  {% set grid_class = "ts-grid-col-4" %}
{% else %}
  {% set grid_class = "ts-grid-col-2" %}
{% endif %}
{% if variant == 'no-link' %}
  {% set show_link = 0 %}
{% endif %}

{% if my_attributes is empty %}
  {% set my_attributes = my_attributes ? create_attribute(my_attributes) : create_attribute() %}
{% endif %}

{% set classes = [
  block_class,
  bg_color,
  'ts-reveal',
  'ts-friendly',
] %}

<div {{ my_attributes.addClass(classes) }}>
  <div class="lg:container p-site">
    {{ pattern_preview('section-title-link', 'default') }}
    <div class="{{ grid_class }}">
      {# TODO: for Drupal replace pattern_preview with: {{ drupal_entity('node', node_id, 'card_md' }} and udpate the
      node template, eg: node--card-md.html.twig #}
      {{ pattern_preview('cards', 'card-md') }}
      {{ pattern_preview('cards', 'card-md') }}
      {{ pattern_preview('cards', 'card-md') }}
      {{ pattern_preview('cards', 'card-md') }}
    </div>
  </div>
</div>
